/*Felipe Ribeiro Da Silva 2C.24.08.2024*/

body{
    background-color: black;
    color: white;
    font-family: "Bungee Tint", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 1;
}
button{
    background-color:#8B0000 ;
    color: white;
    font-family: "Bungee Tint", sans-serif;
}
.passo{
    display: none;

}
.passo.ativo{
    display: block;
}
main{
    max-width: 60%;
    text-align: center;
}
img{
    max-width: 20%;
    text-align: center;
}
